[user]
	name = Kohei Yamamoto
	email = kymmt90@gmail.com
	signingkey = B71C8C99666CD704
[core]
	editor = code --wait
	excludesfile = ~/.gitignore
[color]
	ui = true
[alias]
	clean-branch = !git branch | grep -v '^\\* master' | xargs git branch -d
[pager]
	diff = diff-highlight | less
	log = diff-highlight | less
	show = diff-highlight | less
[fetch]
	prune = true
[push]
	default = simple
[rebase]
	autosquash = true
[status]
	showUntrackedFiles = all
[help]
	autocorrect = 1
[ghq]
	root = ~/Repositories
[commit]
	gpgsign = true
	verbose = true
[pull]
	rebase = false
[init]
	defaultBranch = main
